#login{
    width: 40%;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    display: block;
}
#login:focus{
    box-shadow: none;
}
input[type=submit]{
    color: white;
    cursor: pointer;
    padding-top: 10px;
}
.pagebtn{
    width: auto;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-right: 5px;
}
#markedpage{
    font-weight: bold;
    text-decoration: underline;
}
.matchtitle{
    width: 100%;
}
.editmatches{
    width: 100%;
}
#editinput{
    width: 30%;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    display: inline-block;
}
#editinput:focus{
    box-shadow: none;
}
#addteam{
    width: 95%;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    display: block;
}
#addteam:focus{
    box-shadow: none;
}
.lineupteam{
    width: 95%; 
    font-weight: bold; 
    font-size: 20px;
}
.teamlineup{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    -moz-transition: box-shadow 600ms; /* Firefox */
    -webkit-transition: box-shadow 600ms; /* Safari and Chrome */
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.team1Logo{
    font-weight: bolder;
    font-size: 20px;
}
.statslogo{
    width: 32px; 
    height: 32px; 
    position: relative; 
    top: 5px; 
    left: 4px
}
.standin{
    width: 96%;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    display: block; 
}
#allplayersshow{
    width: 100%;
}
.allplayersid{
    width: 45%;
    height: 6.5%;
    color: #4e4e4e;
    min-height: 43px;
    -moz-transition: box-shadow 600ms; 
    -webkit-transition: box-shadow 600ms; 
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.allplayersid:hover{
    -webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    cursor: pointer;
}
.allnickname{
    font-weight: bold;
    position: relative;
    bottom: 7px;
}
.standinfix{
    position: relative;
    left: 3px;
    font-weight: bold;
}
@media screen and (max-width:900px){
    #editinput{
        width: 45%;
    }
}