.fullmatchbox{
	width: 100%;
    height: 250px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.fullmatchbox a{
    color: #4e4e4e;
}
input[type=submit]{
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding-top: 10px;
}
.team1{
    float: left;
    position: relative;
    text-align: center;
    display: inline-block;
    top: 10px;
    width: 15%;
}
.team2{
    float: right;
    position: relative;
    top: 10px;
    display: inline-block;
    max-width: 20%;
    width: 15%;
}
.teamname{
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    padding-bottom: none;
}
.teamnameright{
    font-weight: bold;
    font-size: 24px;
    float: right;
    right: 25px;
    position: relative;
}
.middleinfo{
    width: 70%;
    height: 200px;
    display: inline-block;
}
.currentScore{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: -10px;
}
.statsbox{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    margin-top: 10px; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.team1Logo{
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    left: 3px;
}
.line{
    border-bottom: 1px solid #e3e3e3;
    display: block;
}
.statslogo{
    width: 32px; 
    height: 32px; 
    position: relative; 
    top: 5px; 
    left: 4px
}
.vodbox{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    margin-top: 10px; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.statsline{
    border-left: 1px solid #e3e3e3;
    float: right;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    top: -15px;
    padding-right: 10px;
    padding-bottom: 20px;

}

.team1before{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    -moz-transition: box-shadow 600ms; /* Firefox */
    -webkit-transition: box-shadow 600ms; /* Safari and Chrome */
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.logosize{
    width: 92px;
    height: 92px;
    margin-left: 10px;
}
.logosizeright{
    width: 92px;
    height: 92px;
    margin-right: 10px;
}
.playersteam1{
    width: 101%;
}
.playerpicture{
    width: 17%;
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    margin-top: 7px;
    margin-right: 2.5%;
    -moz-transition: box-shadow 600ms; 
    -webkit-transition: box-shadow 600ms; 
    -o-transition: box-shadow 600ms;
     border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
}
.playernickname{
    font-weight: bold;
    text-align: center;
    color: #5d5d5d;
}
.logoposs{
    width: 32px; 
    height: 32px; 
    position: relative; 
    top: 5px; 
    left: 4px
}
.playerpos{
    max-width: 100%; 
    padding: 10px;
}
.mvptitle{
    width: 100%;
    height: auto;
    color: #4e4e4e; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
}
.mvpbox{
    width: 100%;
    height: auto;
    display: inline-block;
}
.mvppicture{
    width: 25%;
    float: left;
    display: inline-block;
}
.mvppicture{
    width: 20%;
    height: auto;
    color: #4e4e4e;
    float: left;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    display: inline-block;
}
.mvpimgsrc{
    width: 100%;
    background-size: cover;
    padding: 15px;
    border-radius: 100%;
    -moz-transition: box-shadow 600ms;
    -webkit-transition: box-shadow 600ms;
    -o-transition: box-shadow 600ms;
    max-width: 100%;
    max-height: 100%;
}
.mvpstats{
    width: 75%;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
    border: 1px solid #e3e3e3;
}
.league{
    position: relative;
}
.statsinsidebox{
    width:100%;
    border-bottom: 1px solid #e3e3e3;
}
.insidename{
    width: 50%;
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
}
.allstats{
    width: 11.5%;
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #e3e3e3;
}
.vodfix{
    width: 50%;
    display: inline-block;
    padding: 10px;
}
.streamlink{
    position: relative;
    bottom: 5px;
    left: 5px;
}
.rightext{
    position: relative;
    left: 5px;
    bottom: 0px;
}
.insidelogo{
    width: 50%;
    padding-bottom: 8px;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
}
.insidevod{
    padding-bottom: 8px;
    display: inline-block;
}
.overstats{
    width: 11.5%;
    padding-top: 14px;
    padding-bottom: 10px;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
}
.overtext{
    position: relative;
    left: 15px;
    font-size: 17px;
    font-weight: bold;
    bottom: 5px;
    
}
#commentfield{
    width: 100%;
}
.comment-top-box{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    -moz-transition: box-shadow 600ms; /* Firefox */
    -webkit-transition: box-shadow 600ms; /* Safari and Chrome */
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 5px;
    border: 1px solid #e3e3e3;
}
.userinfo{
    padding: 10px;
    padding-bottom: 0px;
}
.user_nick{
    position: relative;
    bottom: 7px;
    font-weight: bold;
    font-size: 16px;
}
.user_comment{
    padding: 5px;
    margin-top: 10px;
    border-top: 1px solid #e3e3e3;
}
.usercommentinside{
    position: relative;
    left: 5px;
}
.commentstitle{
    font-weight: bold;
    font-size: 20px;
}
#commentform{
    margin-top: 10px;
}
#commentbtn{
    background-color: #1087e8; 
    color: white;
}
#commenttext{
    width: 100%;
    height: 40px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px 0 10px;
    text-indent: 5px;
    display: block;
}
#commenttext:focus{
    box-shadow: none;
}
.insidenologin{
    padding: 10px;
}
@media (max-width: 1660px){
    .overtext{
        font-size: 15px;
    }
}
@media (max-width: 1475px){
    .overtext{
        font-size: 13px;
    }
}
@media (max-width: 1325px){
    #smh{
        width: 95%;
    }
    #footer{
        width: 95%;
    }
}
@media (max-width: 1075px){
    .allstats{
        padding-right: 5px;
    }
    .overtext{
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .statsbox{
        font-size: 1vw;
    }
    .teamname{
        font-size: 6vw;
        padding-left: 5px;
    }
    .teamnameright{
        font-size: 5vw;
    }
    .team1{
        top: 5px;
    }
    .team2{
        top: 5px;
    }
    .playernickname{
        font-size: 1.7vw;
        padding-left: 2px;
        margin-left: -5px;
    }
    .logosize{
        width: 64px;
        height: 64px;
    }
    .logosizeright{
        width: 64px;
        height: 64px;
    }
    .league{
        position: relative;
        
    }
    .currentscore{
        margin-top: 15px;
    }
    .kdtext{
        visibility: hidden;
    }
    .kdtext:after{
        content:'K/D';
        text-align: center;
        visibility: visible;
        position: relative;
        right: 25px;

    }
    .kprtext{
        visibility: hidden;
    }
    .kprtext:after{
        content:'KPR';
        text-align: center;
        visibility: visible;
        position: relative;
        right: 35px; 
    }
    .overstats{
        padding-top: 0px;
    }
    .overtext{
        font-size: 11px;
    }
}

@media screen and (max-width:900px){
    #smh{
        width: 100%;
    }
    
    .statsbox{
        width: 100%;
        font-size: 2vw;
    }
    .team1before{
        width: 100%;
    }
    .playernickname{
        font-size: 2vw;
        padding-left: 2px;
    }
    .playersteam1{
        width: 100%;
    }
    .playerpicture{
        padding-right: 5px;
        margin-right: 2vw;
    }
    .mvptitle{
        width: 100%;
    }
    .mvpstats{
        width: 75%;
        float: right;
    }
    .mvpimgsrc{
        padding: 5px;
    }
    .teamname{
        font-size: 16px;
    }
    .teamnameright{
        font-size: 16px;
    }
    .allstats{
        padding: 5px;
    }
    .insidename{
        font-size: 13px;
    }
    .rightext{
        left: 0px;
    }
    .overtext{
        left: 5px;
        padding-top: 10px;
    }
    .kprtext{
        visibility: hidden;
    }
    .kprtext:after{
        content:'KPR';
        text-align: center;
        visibility: visible;
        position: relative;
        right: 25px; 
    }
    #footer{
    width: 100%;
}
} 
@media screen and(max-width: 1180px){
    .playerpicture{
        padding-right: 0px;
        margin-right: 1%;
    }
}
