.fullmatchbox{
	width: 85%;
    height: 225px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.team1{
    float: left;
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 20%;
}
.team2{
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 20%;
}
.teamname{
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
}
.teamnameright{
    font-weight: bold;
    font-size: 28px;
    float: right;
    position: relative;
    right: 20px;
}
.middleinfo{
    width: 60%;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
}
.currentScore{
    font-size: 28px;
    font-weight: bold;
}
.statsbox{
    width: 85%;
    height: auto;
    color: #4e4e4e;
    margin-top: 10px; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.team1Logo{
    font-weight: bolder;
    font-size: 20px;
}
.line{
    border-bottom: 1px solid #e3e3e3;
    display: block;
}
.statsline{
    border-left: 1px solid #e3e3e3;
    float: right;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    top: -15px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.team1before{
    width: 82.5%;
    height: auto;
    color: #4e4e4e;
    -moz-transition: box-shadow 600ms; /* Firefox */
    -webkit-transition: box-shadow 600ms; /* Safari and Chrome */
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.logosize{
    width: 92px;
    height: 92px;
}
.playersteam1{
    width: 87.5%;
}
.playerpicture{
    width: 16%;
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    margin-top: 7px;
    margin-right: 1.7vw;
    -moz-transition: box-shadow 600ms; 
    -webkit-transition: box-shadow 600ms; 
    -o-transition: box-shadow 600ms;
     border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
}
.playerpicture:hover{
    -webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    cursor: pointer;
}
.playernickname{
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 15px;
}
.mvptitle{
    width: 85%;
    height: auto;
    color: #4e4e4e; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
}
.mvpbox{
    width: 100%;
    height: auto;
    display: inline-block;
}
.mvppicture{
    width: 25%;
    float: left;
    display: inline-block;
}
.mvppicture{
    width: 20%;
    height: auto;
    color: #4e4e4e;
    float: left;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    display: inline-block;
}
.mvpimgsrc{
    width: 100%;
    background-size: cover;
    padding: 15px;
    border-radius: 100%;
    -moz-transition: box-shadow 600ms;
    -webkit-transition: box-shadow 600ms;
    -o-transition: box-shadow 600ms;
    max-width: 100%;
    max-height: 100%
}
.mvpstats{
    width: 50%;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
    border: 1px solid #e3e3e3;
}
@media screen and (max-width:900px){

    .fullmatchbox{
        width: 100%;
    }
    .statsbox{
        width: 100%;
        font-size: 2vw;
    }
    .team1before{
        width: 100%;
    }
    .playernickname{
        font-size: 2vw;
        padding-left: 5px;
    }
    .playersteam1{
        width: 100%;
    }
    .playerpicture{
        padding-right: 5px;
        margin-right: 3vw;
    }
    .mvptitle{
        width: 100%;
    }
    .mvpstats{
        width: 75%;
        float: right;
    }
    .mvpimgsrc{
        padding: 5px;
    }

} 

@media screen and(max-width: 500px){
    .statsbox{
        font-size: 1vw;
    }
}