.playerprofile{
	width: 100%;
    height: auto;
    display: inline-block;
}
.playerimg{
    width: 20%;
    height: auto;
    color: #4e4e4e;
    float: left;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    min-height: 188px;
    max-width: 188px;
    min-width: 188px;
    display: inline-block;
}
.playerImgSrc{
    width: 100%;
    background-size: cover;
    padding: 15px;
    border-radius: 100%;
    -moz-transition: box-shadow 600ms; 
    -webkit-transition: box-shadow 600ms; 
    -o-transition: box-shadow 600ms; 
    max-width: 100%; 
    max-height: 100%;
    min-height: 188px;
    max-width: 188px;
}
.playerMeny{
    width: 100%;
    height: 60px;
    color: #4e4e4e;
    margin-top: 5px;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}
.userinfobox{
    width: 73%;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    float: left;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    border: 1px solid #e3e3e3;
}
.nickname{
    padding: 5px;
}
.playerMenyFix a:hover{
    color: white;
}
.showPlayersMatches{
    display: none;
}
@media screen and (max-width:800px){
    .playerprofile{
        width: 100%;
    }
    .playermeny{
        width: 100%;
    }
    .nickname{
        font-size: 3vw;
    }
    .playerimg{
        width: 30%;
        min-height: 30%;
        max-width: 30%;
        min-width: 30%;
    }
    .playerImgSrc{
        max-width: 100%; 
        max-height: 100%;
        min-height: 100%;
    }
    .userinfobox{
        width: 65%;
    }
}