.pagebtn{
    width: auto;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-right: 5px;
}
#markedpage{
    font-weight: bold;
    text-decoration: underline;
}
.matchtitle{
	width: 100%;
}
#leftmeny{
    padding-bottom: 100%;
}
@media screen and (max-width:540px){
    .startTime{
        display: none;
    }
    .matchTitlefix{
        word-spacing: 1px;
    }

}