#fullstats{
	width: 100%;
}
.bykd{
    width: 33%;
    height: auto;
    color: #4e4e4e;
    margin-top: 10px; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    border: 1px solid #e3e3e3;
}
.fullbykd{
    width: 100%;
    height: auto;
    color: #4e4e4e;
    margin-top: 10px; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    border: 1px solid #e3e3e3;
}
.bykd a:hover{
	color: #18678e;
}
.place{
    position: relative;
    top: -10px;
    right: 5px;
    font-weight: bold;
}
.statsfix{
	font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}
.statstext{
    padding: 15px;
}
.namefix{
	position: relative;
	top: -7px;
}
.statsinsidebox{
    width:100%;
    border-bottom: 1px solid #e3e3e3;
}
.insidename{
    width: 75%;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
}
.rightext{
    position: relative;
    left: 5px;
    bottom: 12.5px;
}
.line{
    border-bottom: 1px solid #e3e3e3;
    display: block;
}
@media screen and (max-width:1778px){
    .bykd{
        width: 49%;
        display: inline-block;
    }
}
@media screen and (max-width:1500px){
	.bykd{
		width: 100%;
		font-size: 1.5vw;
        display: block;
	}
	.statsfix{
		font-size: 1.5vw;
	}
	.statsline{
		padding-bottom: auto;
	}
}
@media screen and (max-width:900px){
    .statsfix{
        font-size: 3.5vw;
    }
    .bykd{
        font-size: 2.5vw;
    }
}