html,body{
	background-color: #e1e6ed;
	font-family: 'Nunito Sans', sans-serif;
	min-width: 350px;
}
@font-face{
	font-family: pacfic;
	src: url(../fonts/monsta.ttf);
}
#leftmeny a:hover{
	color: #1087e8;
}
#smh{
	width: 80%;
	margin: auto;
	margin-top: 15px;
	overflow: hidden;
}
#menymobile {
	width: 100%;
	float: left;
	background: #303030;
	position: none;
	display: none;

}
#menymobile a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 16px;
}
#menymobile a:hover{
	-moz-transition: color 500ms; 
    -webkit-transition: color 500ms;
    -o-transition: color 500ms; 
    transition: color 500ms;
    color: #1087e8;
}
#leftmeny {
	width: 20%;
	float: left;
	color: white;
	background: #303030;
	margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#logo{
	font-size: 35px;
	font-family: pacfic;
	padding: 25px;
	color: white;
	display: block;
}
#meny-content{
	padding: 25px;
}
.copyright_cl{
	text-align: center;
	padding-top: 5vw;
	font-size: 16px;
}
.iconpos{
	float: left; margin-left: 20px; font-weight: 600; font-size: 14px; color: #313131;
}
li {
	list-style-type: none;
}
img{
	user-drag: none; 
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#leftmeny a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 16px;
}
#leftmeny a:hover{
	-moz-transition: color 500ms; 
    -webkit-transition: color 500ms; 
    -o-transition: color 500ms; 
    transition: color 500ms;
    color: #1087e8;
}
#midcontent{
	float: left;
	width: 80%;
	padding-bottom: 100%;
    margin-bottom: -100%;
	background-color: white;
}
.line{
	border-bottom: 1px solid grey;
	display: block;
}
.openmeny{
	float: right;
	margin: 1px 5px;
	z-index: 1;
}
.fixmobilepos{
	padding: 15px;
	color: white;
}
.mainlogo{
	width: 200px;
	height: 100px; 
	background-image: url('https://escore.nu/img/mainlogo.png');
	background-size: cover;
	background-repeat: no-repeat;
}
#footer{
	width: 80%;
	height: 50px;
	margin: auto;
	margin-bottom: 15px;
	background: #303030;
}
.matchesfix{
	padding: 15px;
}
.matchtitle{
	width: 100%;
    height: 6.5%;
    max-height: 60px;
    min-height: 55px;
    color: #4e4e4e;
    -moz-transition: box-shadow 600ms; 
    -webkit-transition: box-shadow 600ms; 
    -o-transition: box-shadow 600ms; 
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
}
.matchtitle:hover{
	-webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    box-shadow: -1px 1px 11px -1px rgba(0,0,0,0.47);
    cursor: pointer;
}
.matchTitlefix{
	padding: 1vw;
	position: relative;
	top: 0.5vw;
	word-spacing: 5px;
	font-weight: bold;
}
.matchInfo{
	width: 70%;
	display: inline-block;
}
.twitter{
	width: 27%;
	float: right;
	display: inline-block;
}
.leftteamicon{
	width: 24px; 
	height: 24px; 
	position: relative; 
	top: 5px; 
	left: 0px;
}
.rightteamicon{
	width: 24px; 
	height: 24px; 
	position: relative; 
	top: 5px; 
	right: 2.5px;
}
.startTime{
	position: relative;
	left: -7px;
	top: 1px;
	height: 100%;
	word-spacing: 0px;
	border-right: 1px solid #e3e3e3;
}
.activeScore{
	float: right;
	padding: 8px;
	top: 0.5vw;
	position: relative;
	word-spacing: none;
	font-weight: bolder;
}
.upcomingMatchesTitle{
	margin-left: 15px;
}
.topindex{
	width: 100%;
}
.titlepos{
	width: 50%;
	display: inline-block;
}
.searchbar{
	width: 45%;
	display: inline-block;
	position: relative;
	top: 10px;
}
#searchinput{
	width: 100%;
    height: 30px;
    color: #4e4e4e;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
}
#searchinput:focus{
    box-shadow: none;
}
.searchdown {
  width: 200%;
  position: relative;
  display: inline-block;
  margin-top: -10px;
}
.search-content {
  height: auto;	
  display: none;
  position: absolute;
  background-color: whitesmoke;
  overflow: auto;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  z-index: 1;
}
.insidesearch{
	width:100%;
    border-bottom: 1px solid #e3e3e3;
}
.namefix{
	position: relative;
}
.searchposfix{
	padding: 20px;
}
.nomatches{
	color: red;
	font-weight: bold;
	padding: 15px;
	border-bottom: 1px solid #e3e3e3;
}
.matchscore{
	width: 70%;
    height: auto;
    overflow: auto;
    color: black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-top: none;
    background-color: white
}
.playerMenyFix{
	padding: 10px;
}
.insidefooter{
	float: right;
	color: white;
	padding: 12.5px;
	font-weight: bold;
}
.messageshow{
	width: 97%;
	height: auto;
	border-radius: 5px;
	padding: 15px;
	color: #a94442;
	margin: 10px;
	border: 1px solid #ebccd1;
	background-color: #f2dede;
}
.footerbtns{
	margin: auto;
	color: white;
	padding: 15px;
    padding-top: 13px;
	margin-right: 10px;
	width: 20%;
}
.footerbtns:hover{
	background-color: #0e0e0e;
}
.insidemodal{
	font-weight: 400;
}
@media screen and (max-width:1380px){
	#smh{
		width: 90%;
	}
	#footer{
		width: 90%;
	}
	.footerbtns{
	padding: 15px;
    padding-bottom: 18px;
    padding-top: 12px;
   }
}
@media screen and (max-width:1210px){
	.mainlogo{
		width: 125px;
		height: 125px;
		background-image: url('https://escore.nu/img/onlylogo.png');
	    background-size: cover;
	    background-repeat: no-repeat;
	}
}
@media screen and (max-width:920px){

#logo{
	font-size: 25px;
	font-family: pacfic;
	padding: 10px;
	display: block;
}
.mainlogo{
	width: 50px;
	height: 50px;
}
#meny-content{
	padding: 10px;
}
#leftmeny{
	display: none;
}
#menymobile{
	display: block;
}

#midcontent{
	width: 100%;
}
.iconpos{
	margin-left: 20px;
}

#smh{
	width: 100%;
	margin-top: 0px;
}
#footer{
	width: 100%;
	margin-bottom: 0;
}
.matchtitle{
	width: 100%;
	max-height: 45px;
	min-height: 45px;
}
.starttime{
	left: -2px;
}
.insidefooter{
	text-align: center;
	padding: 12px;
}
.matchesfix{
	padding: 10px;
}
.matchInfo{
	width: 100%;
}
.twitter{
	display: none;
}
.searchbar{
	display: none;
}
#footer{
	width: 100%;
}
.footerbtns{
	padding: 15px;
    padding-bottom: 18px;
    padding-top: 12px;
}
}

@media screen and (max-width:488px){
	.iconpos{
		margin-left: 5px;
		padding: none;
	}
}
@media screen and (max-width:540px){
    .startTime{
        display: none;
    }
    .matchTitlefix{
        word-spacing: 1px;
    }

}	



