RewriteEngine on

RewriteCond $1 ^matches/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ matches.php?matchid=$1 [L]

RewriteCond $1 ^players/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ players.php?nickname=$1 [L]

RewriteCond $1 ^teams/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ teams.php?team=$1 [L]

RewriteCond $1 ^stats/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ stats.php?statsid=$1 [L]

RewriteCond $1 ^results/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ results.php?page=$1 [L]

RewriteCond $1 ^tabell/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ table.php [L]

RewriteCond $1 ^maintenance/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ maintenance.php [L]

ErrorDocument 404 /404.php

